<%- include('../includes/head.ejs') %>
</head>
<body>

    <h2 class="heading center">Delete account</h2>

    <form class="form" action="/delete-user" method="POST" novalidate>

        <div class="form-control delete-user">
            <h2>Are you sure you want to proceed?</h2>
            <h3>Deleting account means all your posts will be deleted too.</h3>
        </div>

        <button class="form-btn" type="submit">Delete my account forever</button>

    </form>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>