<div class="navigation center">
    <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
    <a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
</div>