<%- include('./includes/head.ejs') %>
</head>
<body>

    <div class="success-page">
        <h2>Congratulations!</h2>
        <p>Be proud! You created a login / sign up system! Wait til Doria hears about this. &#10084;</p>
    </div>

    <%- include('./includes/navigation.ejs') %>
    
<%- include('./includes/end.ejs') %>