<%- include('./includes/head.ejs') %>
</head>
<body>

    <div class="welcome">
        <div class="welcome__png"></div>
        <p>A completely unoriginal and needless website for sharing media. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque mollis fermentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam pulvinar cursus ligula sed.</p>
    </div>

    <%- include('./includes/navigation.ejs') %>
    
<%- include('./includes/end.ejs') %>