<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="settings_container">
        <p>change avatar</p>
    </div>

    <%- include('../includes/navigation.ejs') %>
    
<%- include('../includes/end.ejs') %>